
.logomr {
	margin : auto;
	height: 25%;
    margin: 20px;
    float: left;
}

.roles {
    text-align: center;
    padding:3px;
}
.imgrole {
    float: left;
    height: 100%;
    margin-right: 30px;
}